@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-display {
    font-family: 'Anton', sans-serif;
}

/* Custom Scrollbar */
.hide-scroll::-webkit-scrollbar {
    display: none;
}

/* Smooth expansion transition */
.panel-transition {
    transition: flex 0.7s cubic-bezier(0.25, 1, 0.5, 1), opacity 0.5s ease;
}

/* Vertical Text for closed panels */
.vertical-text {
    white-space: nowrap;
    /* Ensure the text renders crisply */
    text-rendering: optimizeLegibility;
}

@layer utilities {
    .animate-marquee {
        animation: marquee 25s linear infinite;
    }

    .animate-marquee-reverse {
        animation: marquee-reverse 25s linear infinite;
    }

    @keyframes marquee {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }

        /* doubled content means moving 50% is one full loop */
    }

    @keyframes marquee-reverse {
        0% {
            transform: translateX(-50%);
        }

        100% {
            transform: translateX(0);
        }
    }
}